<!DOCTYPE html>
<html>

<head>
  <title>pagina de produtos</title>
  <link rel="stylesheet" href="/stylesheets/products.css">
</head>

<body>
  <%- include('./partials/header') %>

  <h1><%= name %></h1>
  <main>
    <h2>Cadastro de produtos</h2>

    <form>
      <div>
        <label for="name">Nome do produto:</label>
        <input name="name" id="name" type="text">
      </div>
      <div>
        <label for="price">Preço do produto:</label>
        <input name="price" id="price" type="number">
      </div>
      <div>
        <div>
          <label>Tipo de produto:</label>
        </div>

        <% types.forEach(function(type) {%>
        <input type="radio" name="type" id="<%= type.id %>">
        <label for="<%= type.id %>"> <%= type.label %> </label>
        <%}) %>

      </div>
      <div>
        <input type="submit" value="Cadastrar produto">
        <input type="reset" value="Cancelar">
      </div>
    </form>
  </main>
</body>

</html>